* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: rgb(29, 29, 29);
    padding: 15px;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 20px; */
    font-family: poppins;  
    overflow: auto;  
    scroll-snap-type: y mandatory;
}

main::-webkit-scrollbar {
    display: none;
}

section {
    width: 450px;
    height: 100%;
    margin: auto;
    border-radius: 12px;    
}

.all-reels {
    height: 100%;
    width: 100%;
    
}

.single {
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: 10px;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.reel {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
}

.reel video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.reel .bottom {
    padding: 20px;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(1, 1, 1, 0.38));
    position: absolute;
    bottom: 0;
}

.reel .bottom img {
    width: 30px;
    height: 30px; 
    border-radius: 50%;
}

.bottom .user {
    display: flex;
    align-items: center;
    gap: 20px;
}

.user h4 {
    color: white;
    font-weight: 500;
    font-size: 15px;
    font-family: poppins;
}

.user button {
    background-color: transparent;
    border: 1px solid rgb(44, 44, 44);
    padding: 5px 10px;
    color: white;
    font-weight: 500;
    border-radius: 6px;
    font-size: 14px;
}

.bottom .caption {
    color: white;
    font-size: 14px;
    font-weight: 400;
    margin-top: 15px;
}

.love {
    color: red;
}

.right {
    width: 40px;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateX(100%);
    color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    text-align: center;
    
}

.right .icon {
    font-size: 26px;
    font-weight: 400;
}

.right h5 {
    font-size: 16px;
    font-weight: 400;
}